html {
    scroll-behavior: smooth;
}

:root {
    --color-one:#25a4b7;
    --color-two:#e8f6f7;
    --color-three:#cdeaee;
    --color-four:#00172f;
    --color-five:#a1b9b9;
    --color-six:#d9ebeb;
    --color-seven:#3f4a3c;
    --color-eighte:#95a5a4;
    --color-nine:#858fc2;
    --color-ten:#f3f9f7;
    --color-white:white;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: "Work Sans", serif;
}

a {
    text-decoration: none
}

ul {
    list-style-type: none
}

input:focus {
    outline: none
}

p {
    margin: 0;
}
/*? START Framework  */
.c-one{
    color: var(--color-one) !important;
}
.c-two{
    color: #8da3a3 !important;
}
.y-center {
    position: absolute; /* أو fixed */
    top: 50%;
    transform: translateY(-50%);
}
.x-center {
    position: absolute; /* أو fixed */
    left: 50%;
    transform: translateX(-50%);
}
/*? END Framework  */
/**--------------------------- section one */
/** 1 section  */
.section-one{
    width: 100%;
    height: 750px;
    background-color: rgb(232, 246, 247);

}

/** 2 box  */
.section-one .box{
    position: relative;
    height: 100%;
}
.section-one .box .part-one{
    position: absolute;
    left: 0;
    width: 50%;
    height: 88.7%;
}
.section-one .box .part-two{
    position: absolute;
    right: 0;
    width: 50%;
    height: 88.7%;
}
.section-one .box .part-two .continer{
    position: absolute;
    /* right: 100px; */
    background-color: var(--color-one);
    width: 50%;
    height: 100%;
}
.section-one .box .part-two .continer img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
/* part-one */
.section-one .part-one{
    padding-left: 200px;
}
.section-one .part-one h1{
    font-size: 3rem!important;
}
.section-one .part-one > p{
    margin-top: 10px;

} 

.section-one .ABOUTUS-btn {
    left: 0;
    cursor: pointer;
    width: 175px;
    height: 40px;
    border-radius: 6px;
    padding:5px;
    margin-top: 35px;
    background-color: var(--color-four);
    color:var(--color-white);
}
.section-one .ABOUTUS-btn p{
    margin-top: 3px;
}
.section-one .ABOUTUS-btn:hover{
    border: solid 2px var(--color-four);
    background-color: transparent;
    color:var(--color-four);

}

/* media */
@media screen and (max-width:1200px)  {
    .section-one .part-one h1 {
        font-size: 2.5rem !important;
    }
}
@media screen and (max-width:998px)  {
    .section-one .box .part-two{
        height: 100% !important;
    }
    .section-one .box .part-one{
        padding: 80px !important;
        padding-bottom: 0px !important;
    }
}
@media screen  and (max-width:870px)  {
    .section-one .box .part-one {
        padding: 46px !important;
    }
}

@media screen and (max-width:725px)  {
    .section-one .box .part-two{
        width: 30%;
    }
    .section-one .box .part-two .continer img{
        width: 0;
    }
    .section-one  .box .part-one{
        width: 70%;
    }

}
@media screen and (max-width:530px)  {
    .section-one .box .part-two{
        width: 0%;
    }
    .section-one .box .part-two .continer img{
        width: 0;
    }
    .section-one .box .part-one{
        width: 100%;
    }
    .section-one .box .part-one {
        padding: 51px !important;
    }
    .section-one .part-one h1 {
        font-size: 2.5rem !important;
    }
    .section-one {
        height: 634px;
    }
    .section-one .box .part-one {
        transform: translateY(44px);
    }
}
@media screen and (max-width:380px)  {
    .section-one .box .part-one {
        padding: 18px !important;
    }
    

}
/** 3 navbar  */
.navbar {
    border-bottom: solid 2px var(--color-black);
    color: var(--color-black);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* ظل خفيف في الجهة السفلية */

}

.nav-link {
    font-size: 24px !important;
}

.linkColor:hover {
    color: var(--color-one)!important;
}

@media screen and (max-width:1000px) {
    .navbarMobile {
        display: block !important;
    }

    .navbarDeskTop {
        display: none !important;
    }

    .navbar-togglerBar {
        display: none !important;
    }
}

@media screen and (min-width:999px) {
    .navbarDeskTop {
        display: block !important;
    }

    .navbarMobile {
        display: none !important;
    }

    .navbar-togglerBar {
        display: block !important;
    }
}

/* 3.1 navbar desktop */
.navbarDeskTop div a img,
.navbarMobile div a img {
    height: 50px;
    max-width: 100%;
    transform: scale(1.2);
}
.appointment-btn{
    cursor: pointer;
    background-color: var(--color-four);
    width: 175px;
    height: 40px;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 44px;
    padding:5px;
    color:white;
}
.appointment-btn:hover{
    border: solid 2px var(--color-four);
    background-color: transparent;
    color:var(--color-four);

}
.appointment-btn p{
    padding-top: 3px;
}
/*? Note: dropdown-menu and dropdown-item For the data bar */
.dropdown-menu {
    padding: 0;
    border-radius: 5%;
}

.dropdown-item {
    padding: 10px !important;
}

.dropdown-item:hover {
    background-color: var(--color-black);
    color: var(--color-body);
}

@media screen and (min-width:720px) and (max-width:1000px) {
    .justify-content-center {
        justify-content: center !important;
        flex-direction: row;
    }
}

/* 3.2 navbar mobile */
button.navbar-toggler {
    border: none !important;
    padding: 0 !important;
    color: var(--color-body) !important;
}

button.navbar-toggler:focus,
btn-close:focus {
    box-shadow: none;
}
/**--------------------------- section two */
.section-two{
    margin-top: 80px;
}
.section-two h2{
    margin: 50px 0 30px 0;
    display: inline-block;
    background: linear-gradient(to right, rgb(232, 246, 247,1), white); /* تدرج الخلفية */
    padding: 5px 15px; 
    border-radius: 20px; 
    font-weight: bold;
    color: #222;
}

.section-two .countiner .box{
    max-width: 380px;
    padding-right: 25px;
    width: 400px;
    padding: 50px 30px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* قيم الظل */

}
.section-two .countiner .box:nth-child(2){
    margin: 0 30px;
}
.section-two .countiner .box .part-one .surcle {
    width: 50px;
    height: 50px;
    background-color: #f3f9f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: var(--color-one);
}
@media screen and (max-width:500px) {
    .section-two .countiner .box{
        margin: 0 30px;
    }
}
/**--------------------------- section three */
.section-three{
    width: 100%;
    height: 500px;
    margin-top: 100px;

}
/* part one */
.section-three .part-one{
    width: 100%;
    height: 80%;
}
.section-three .part-one .box-left{
    position: relative;
    width: 35%;
    padding: 40px;
    background-color: rgb(232, 246, 247);
}
.section-three .part-one .box-left .part-left,
.section-three .part-one .box-left .part-right {
    position: relative;
    width: 50%;
    height: 100%;

}
.section-three .part-one .box-left div .photos{
    position: absolute;
    width: 80%;
    height: 40%;
    border: solid 10px var(--color-one);
    background-size: 100%;
    border-radius: 20px;
}
.section-three .part-one .box-left .part-right .photos:nth-child(1){
    top: 0;
    background-image: url(/img/pexels-166599463-10987574.jpg);
    
}
.section-three .part-one .box-left .part-right .photos:nth-child(2){
    bottom: 0;
    background-image: url(/img/img3.jpg);
}
.section-three .part-one .box-left .part-left .photos{
    background-image: url(/img/img4.jpg);
}
.section-three .part-one .box-right{
    width: 30%;
    margin-left: 50px;
    
}
.section-three .part-one .box-right h2 span{
    background: linear-gradient(to right,white , rgb(232, 246, 247,1)); 
    border-radius: 20px; 

}
/* part two */
.section-three .part-two{
    background-color: var(--color-one);
    height: 20%;
}
@media screen  and (max-width:1600px){
    .section-three .part-one .box-right{
        width: 70%;
    }
    .section-three .part-one .box-left div .photos{
        background-color: var(--color-one) !important;
        background-image: none !important;
    }
}
@media screen  and (max-width:600px){
    .section-three {
        width: 100%;
        height: auto;
    }
    .section-three .part-one .box-right {
        margin-left: 26px;
        padding-right: 15px;
    }
    .section-three .part-two {
        height: 50px;
    }
}
/**--------------------------- section four */
.section-four{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-four h2{
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    margin-left: 7%;
}
.section-four h2::after {
    content: ""; 
    position: absolute;
    left: 0; 
    bottom: -5px; 
    width: 50%; 
    height: 3px; 
    background-color: var(--color-four); 
}
.section-four .part-two {
    width: 100%;
    height: 500px;
}
.section-four .part-two .box{
    width: 40%;
    padding: 30px;
    height: 200px;
    border-radius: 5px;
    border-left: solid 8px var(--color-one);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* قيم الظل */

}
.section-four .part-two .box:nth-child(1),
.section-four .part-two .box:nth-child(3){
    margin-right: 70px;
    
}
@media screen and (min-width:701px) and (max-width:900px) {
    .section-four .part-two .box {
        width: 60%;
        margin: 25px 0 !important;
    }
    .section-four h2{
        margin-left: 20%;
    }
}
@media screen  and (max-width:700px) {
    .section-four .part-two .box {
        width: 80%;
        margin: 25px 0 !important;
        height: auto;
    }
    .section-four h2{
        margin-left: 10%;
    }
}
/**--------------------------- footer */
footer{
    width: 100%;
    height: 500px;
    background-color: rgb(232, 246, 247);
}
footer .countiner{
    width:100%;
    background-color: rebeccapurple;
}