<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor template</title>
    <!-- css&Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font_awsome_limetededition.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--! START CODE -->
    <!--1.1 Start navbar -->
    <section  class="section-one">

        <!--1.1.a navbarMobile -->
        <nav class="navbar navbarMobile bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo/logo (3).png" alt="Logo">
                </a>
                <div class="iconNave">

                    <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class=" nav-link linkColor linkActive active" aria-current="page"
                                    href="/index.html">Home</a>
                            </li>
                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link linkColor active" aria-current="page"
                                    href="/Categories.html">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link linkColor active" aria-current="page" href="/store.html">store</a>
                            </li>
                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link linkColor active" aria-current="page"
                                    href="/BestSeller.html">BestSeller</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--1.2.b navbarDeskTop -->
        <nav class="navbar navbarDeskTop navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid-md container-lg p-2">
                <a class="navbar-brand" href="#">
                    <img src="img/logo/logo (3).png" alt="Logo">
                </a>
                <div class="d-flex " class="iconNave">
                    <div>
                        <!-- <p class="m-0 fs-2 fw-semibold">Book <span style="color: #af481f;font-weight: 700;">Shops</span></p> -->
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-md-0 pe-5 ">
                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link c-one" aria-current="page"
                                    href="/index.html">Home</a>
                            </li>
                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link linkColor active" aria-current="page"
                                    href="/Categories.html">Categories</a>
                            </li>

                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link linkColor active" aria-current="page" href="/store.html">store</a>
                            </li>
                            <li class="nav-item fw-semibold mx-4 active">
                                <a class="nav-link linkColor active" aria-current="page"
                                    href="/BestSeller.html">BestSeller</a>
                            </li>

                        </ul>
                    </div>
                    <div class="appointment-btn text-center">
                        <p class="fw-semibold">APPOINTMENT NOW</p>
                    </div>
                </div>
            </div>

        </nav>

        <div class=" box container">
            <div class="part-one d-flex justify-content-center flex-column">
                <h1 >Let's Make An <br> <span class="c-one">Appointment</span> <br> With <strong>Dr. Wail</strong></h1>
                <p class="c-two">Drop you requirement we will define it and build the best for you You can monitor and manage your business with the paltform we will provide.</p>
                <div class="ABOUTUS-btn text-center">
                    <p class="fw-semibold">ABOUT US</p>
                </div>
            </div>
            <div class="part-two d-flex justify-content-center">
                <div class="continer">
                    <img src="/img/169671343ef815d20808e6c9e43c5c19-removebg-preview (1).png" alt="">

                </div>
            </div>
        </div>
        <!-- End navbar -->
    </section>
    <!--! END CODE -->
    <!-- start js -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/all.min.js"></script>
    <!-- End js -->
</body>

</html>