<!--1.1.a navbarMobile -->
<nav class="navbar navbarMobile bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo/logo (3).png" alt="Logo">
        </a>
        <div class="iconNave">

            <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class=" nav-link fw-semibold  linkColor linkActive active" aria-current="page"
                            href="/template/index.html">Home</a>
                    </li>
                    <li class="nav-item fw-semibold  active">
                        <a class="nav-link linkColor active" aria-current="page"
                            href="/template/MedicalFile.html">Medical File</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold  linkColor active" aria-current="page"
                            href="/template/blog.html">Blog</a>
                    </li>
                    <li class="nav-item fw-semibold  active">
                        <a class="nav-link linkColor active" aria-current="page" href="#Contact">Contact
                            Us</a>
                    </li>
                    <a href="/template/APPOINTMENT.html">
                        <div class="appointment-btn btn-navbarMob text-center">
                            <p class="fw-semibold ">APPOINTMENT NOW</p>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--1.2.b navbarDeskTop -->
<nav class="navbar navbarDeskTop navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid-md container-lg p-2">
        <a class="navbar-brand" href="#">
            <img src="img/logo/logo (3).png" alt="Logo">
        </a>
        <div class="d-flex " class="iconNave">
            <div>
                <!-- <p class="m-0 fs-2 fw-semibold">Book <span style="color: #af481f;font-weight: 700;">Shops</span></p> -->
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-md-0 pe-5 ">
                    <li class="nav-item fw-semibold mx-4 active">
                        <a class="nav-link c-one" aria-current="page" href="/template/index.html">Home</a>
                    </li>
                    <li class="nav-item fw-semibold mx-4 active">
                        <a class="nav-link linkColor active" aria-current="page"
                            href="/template/MedicalFile.html">Medical File</a>
                    </li>

                    <li class="nav-item fw-semibold mx-4 active">
                        <a class="nav-link linkColor active" aria-current="page" href="/template/blog.html">Blog</a>
                    </li>
                    <li class="nav-item fw-semibold mx-4 active">
                        <a class="nav-link linkColor active" aria-current="page" href="#Contact">Contact
                            Us</a>
                    </li>

                </ul>
            </div>
            <a href="/template/APPOINTMENT.html">
                <div class="appointment-btn text-center">
                    <p class="fw-semibold">APPOINTMENT NOW</p>
                </div>
            </a>
        </div>
    </div>

</nav>